.footer-bg {
    background: #2e2f42;
    padding: 100px 0;
    width: 100%;
}

.footer-bg .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f4fd;
    cursor: pointer;
    margin: 0;

}

.footer-bg-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0;
}